.owl-stage-outer {
    padding-bottom: rem(43px);
	@media (max-width: 992px) {
		padding-bottom: rem(30px);
	}
	@media (max-width: 768px) {
		padding-bottom: rem(25px);
	}
	@media (max-width: 480px) {
		padding-bottom: rem(20px);
	}
}

.owl-nav {
    position: absolute;
    top: 0;
	height: calc(100% - rem(43px));
    left: 50%;
	display: flex;
	justify-content: space-between;
	pointer-events: none;
	transform: translateX(-50%);
	width: calc(100vw - rem(20px));
	max-width: rem(1410px);
	@media (max-width: 992px) {
		height: calc(100% - rem(30px));
	}
	@media (max-width: 768px) {
		height: calc(100% - rem(25px));
	}
	@media (max-width: 480px) {
		height: calc(100% - rem(20px));
	}

	.owl-prev,
	.owl-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: rem(45px);
		position: relative;
		display: block;
		pointer-events: auto;
		transition: .3s;

		&:hover {
			&:after {
				opacity: .7;
			}
		}

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			height: rem(45px);
			transform: translateY(-50%);
			background: $white;
			border: 2px solid $gray;
			border-radius: 50%;
		}

		&:after {
			content: "";
			position: absolute;
			top: 50%;
			width: rem(12px);
			height: rem(21px);
			transform: translateY(-50%);
			background-repeat: no-repeat;
			background-size: contain;
			transition: .3s;
		}
	}

	.owl-prev {
		&:after {
			left: rem(15px);
			background-image: url("@img/svg/icon__prev.svg");
		}
	}

	.owl-next {
		&:after {
			right: rem(15px);
			background-image: url("@img/svg/icon__next.svg");
		}
	}
}

.owl-dots {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
	justify-content: center;
    gap: rem(8px 16px);

	button.owl-dot {
		width: rem(40px);
		height: rem(10px);
		position: relative;

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			height: 3px;
			transform: translateY(-50%);
			background: $gray;
			transition: .3s;
		}

		&.active,
		&:hover {
			&:before {
				background: $red;
			}
		}
	}
}