.products {
    padding: rem(45px 0 90px);
	background: $white;
	@media (max-width: 992px) {
		padding: rem(35px 0 70px);
	}
    @media (max-width: 768px) {
		padding: rem(25px 0 50px);
	}
	@media (max-width: 480px) {
		padding: rem(15px 0 30px);
	}

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: rem(30px);
		@media (max-width: 480px) {
			flex-direction: column;
			align-items: center;
			margin-bottom: rem(20px);
		}
    }

    &__title {
        font-family: $font-b;
        font-size: rem(34px);
        line-height: 1.2;
		@media (max-width: 480px) {
			font-size: rem(25px);
		}
    }

    &__link {
        font-family: $font-r;
        color: $red;
        font-size: rem(16px);
        line-height: 1.2;
        transition: .3s;
        padding: rem(5px 0);

        &:hover {
            color: $red-dark;
        }
    }

    &__carousel-wrapper {
		position: relative;
	}

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $gray;
        padding: rem(15px 21px 20px);
    }

    &__card-image-wrapper {
        height: rem(245px);
        width: 100%;
        max-width: rem(245px);
		margin-bottom: rem(15px);
    }

    &__card-image {
        display: block;
        object-fit: contain;
    }

    &__card-top {
        display: flex;
        justify-content: space-between;
		gap: rem(20px);
		width: 100%;
		margin-bottom: rem(9px);
    }

    &__card-stars {
        width: rem(95px);
        height: rem(15px);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
		font-size: 0;

        &--1 {
            background-image: url("@img/svg/icon__stars--1.svg");
        }

		&--2 {
            background-image: url("@img/svg/icon__stars--2.svg");
        }

		&--3 {
            background-image: url("@img/svg/icon__stars--3.svg");
        }

		&--4 {
            background-image: url("@img/svg/icon__stars--4.svg");
        }

		&--5 {
            background-image: url("@img/svg/icon__stars--4.svg");
        }
    }

	&__card-stock {
		position: relative;
		font-family: $font-m;
		font-size: rem(12px);
		line-height: 1.3;
		color: $black;

		&--yes {
			padding-left: rem(21px);

			&:before {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: rem(16px);
				height: rem(16px);
				background: url("@img/svg/icon__stock.svg") no-repeat 50% 50% /contain;
			}
		}
	}

	&__card-text {
		width: 100%;
		height: rem(63px);
		max-height: rem(63px);
		overflow: hidden;
		text-overflow: ellipsis;
		margin-bottom: rem(9px);
		font-family: $font-r;
		font-size: rem(16px);
		line-height: 1.3;
		color: $black;
		@media (max-width: 768px) {
			height: rem(42px);
			max-height: rem(42px);
		}
	}

	&__card-price {
		width: 100%;
		font-family: $font-b;
		font-size: rem(26px);
		line-height: 1.2;
		color: $black;
		margin-bottom: rem(15px);
	}

	&__card-bottom {
		width: 100%;
		display: flex;
		align-items: center;
	}

	&__card-btn {
		margin-right: auto;
	}

	&__actions {
		display: flex;
		font-size: 0;
		gap: rem(14px);
	}

	&__action {
		width: rem(24px);
		height: rem(24px);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50% 50%;
		transition: .3s;
		border: none;
		background-color: transparent;
		font-size: 0;

		&:hover {
			opacity: .7;
		}

		&--show-prices {
			background-image: url("@img/svg/icon__prices.svg");
		}

		&--add-favourite {
			background-image: url("@img/svg/icon__favourite.svg");
		}
	}
}