.subscription {
    background: $gray-light;

    &__form {
        max-width: rem(950px);
        margin: 0 auto;
        padding: rem(32px 0);
        display: flex;
        align-items: center;
        @media (max-width: 992px) {
            padding: rem(25px 0);
		}
		@media (max-width: 768px) {
			flex-direction: column;
            text-align: center;
            padding: rem(20px 0);
		}
        @media (max-width: 480px) {
            padding: rem(15px 0);
		}
    }

    &__label {
        display: flex;
        align-items: center;
        font-family: $font-l;
        color: $black;
        font-size: rem(17px);
        line-height: 1.2;
        gap: rem(20px);
        flex-grow: 1;
        @media (max-width: 768px) {
			flex-direction: column;
            gap: rem(15px);
		}
    }

    &__label-text {
        margin-right: auto;
        @media (max-width: 768px) {
			margin-left: auto;
            text-align: center;
		}
    }

    &__input {
        display: block;
        width: rem(370px);
        background: $white;
        padding: rem(12px 17px 10px 17px);
        border: none;
        color: $black;
        font-family: $font-l;
        font-size: rem(17px);
        border: 1px solid #E0E1E7;
        border-radius: 0;
        @media (max-width: 768px) {
			margin-bottom: rem(15px);
		}
    }

    &__btn {
        padding: rem(13px 30px);
        min-width: auto;
        @media (max-width: 768px) {
			width: rem(370px);
		}
    }
}