$font: OnestLight, Arial, sans-serif;
$font-l: OnestLight, Arial, sans-serif;
$font-r: OnestRegular, Arial, sans-serif;
$font-m: OnestMedium, Arial, sans-serif;
$font-b: OnestBold, Arial, sans-serif;

$white: #FFFFFF;
$black: #242424;
$red: #B71B34;
$red-dark: #8a1528;
$green: #70BE71;
$gray: #D1D3DA;
$gray-light: #F3F6F9;
